@import 'variables';

.bg-success {
    background-color: $color-success !important;
}

.bg-info {
    background-color: $color-info !important;
}

.bg-warn {
    background-color: $color-warn !important;
}

.bg-danger {
    background-color: $color-danger !important;
}