/* Definition of Custom Theme */
@use '@angular/material' as mat;

@include mat.core();
/* END: Definition of Custom Theme */


@import '@angular/material/prebuilt-themes/azure-blue.css';

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Proyect Styles
@import 'app/assets/scss/_variables.scss';
@import 'app/assets/scss/_theme.scss';
@import 'app/assets/scss/_helpers.scss';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
    ## GENERAL STYLES INDEX ##
    1 - TYPOGRAPHY

*/

/* 1 - TYPOGRAPHY */
a {
    font-size: 16px;
    text-decoration: none;
}
