<form class="grid" [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="col-md-6 col-md-6 col-xs-12 p-1">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" required formControlName="name" />
    </mat-form-field>

    <mat-form-field class="col-md-6 col-md-6 col-xs-12">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoryId" required>
            @for (category of categories(); track category.id) {
                <mat-option [value]="category.id">
                    {{ category.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12">
        <mat-label>Descripción</mat-label>
        <input matInput type="text" required formControlName="description" />
    </mat-form-field>

    <mat-form-field class="col-md-6 col-md-6 col-xs-12 p-1">
        <mat-label>Precio (unidad)</mat-label>
        <input matInput type="number" required formControlName="unitPrice" />
    </mat-form-field>

    <mat-form-field class="col-md-6 col-md-6 col-xs-12 p-1">
        <mat-label>Stock</mat-label>
        <input matInput type="number" required formControlName="unitsInStock" />
    </mat-form-field>

</form>
